/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit ;
 font-family: sans-serif;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
/* custom style */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
:root{
    --primary:#DFECFD;
    --secondary:#362EA9;
    --tersery:#ED3A4C;
    --textcolor:#6b6a6d;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex-35{
    flex:0 1 35%;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-31{
    flex:0 1 31%;
}
.flex-70{
    flex: 0 1 70%;
}
.flex-75{
    flex: 0 1 75%;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-25{
    flex: 0 1 25%;
}
.flex-15{
    flex: 0 1 15%;
}
.flex-60{
    flex: 0 1 60%;
}
.item-center{
    align-items: center;
}
.item-start{
    align-items: flex-start;
}
.align-center{
   align-items: center;
}
.full-width{
    width: 100%;
}
.font-0{
    font-size: 0;
}
a{
    text-decoration:none ;
    color:white;
}
.padding{
    padding: 2rem 0;
}
.margin-top{
    padding-top: 2rem;
}
.btn{
    background:rgb(249,35,77);
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
}
.btn-2{
    font-size: 1.5rem;
}
.btn-center{
    text-align: center;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Nunito', sans-serif;
}


/* header  */
.header{
    background-image: linear-gradient(rgb(66,52,179,0.8), rgb(666,52,179,0.8)), url(../banner.png);
    background-repeat: no-repeat;  
    font-size: 0;
}
.brand{
    color:white;
    font-size: 2.3rem;
    font-weight: 600;
}
.nav-bar a{
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
}
.nav-bar a:hover{
    cursor: cell;
    color: #DFECFD;
}
#toggle{
    display: none;
}
/* banner-section */
.banner-heading{
    color: #ffffff;
}
.banner-heading h2{
    font-size: 3.5rem;
    font-weight: 700;
}
span{
    color:rgba(249, 35, 77);
}
.banner-heading p{
    font-size: 1.5rem;
    margin: 2rem 0;
}
/* about section */

.about-article h2{
    color:#01122D;
    font-size: 2rem;
    font-weight: 800;
}
.about-article p{
    font-size: 1.3rem;
    color:#7D7C82;
}
/* join section */

.join{
    background-color: var(--primary);
    position: relative;
}
.main-heading{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
    text-transform: capitalize;
    padding: 3rem 0;
    color: #01122D;
}
.article-1-3{
    border: 0.2rem dashed #ED3A4C ;
    padding-left: 1rem;
    padding-top:1.3rem;
    padding-bottom:1rem;
    padding-right: 1.7rem;
}
.main-sub-heading{
    font-size:1.9rem;
    font-weight: 800;
    text-transform: capitalize;
    color: #01122D;
}
.text{
    font-size:1.2rem;
    color: var(--textcolor);
}
.span{
    width:3rem;
    text-align: center;
    font-size:2.6rem;
    font-weight: 800;
    color: var(--tersery);
    background-color: var(--primary);
    position: absolute;
    top:10rem;
}
/* schedule section */
.schedule-date{
    background-color: var(--tersery);
    height: 10.5rem;
    width:10.5rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 2.5rem;
    font-size:2rem;
    font-weight: 800;
    color: white;
    line-height:1.2;
    position: relative;
}
.dotted-line{
    width: 0rem;
    height: 5rem;
    outline: dashed 0.1rem #ED3A4C;
    position: absolute;
    right: 50%;
    top: 104%;
}
.direction-column{
    flex-direction: column;
}
.margin{
    margin: 2.5rem 0;
}
.schedule-img img{
    border-radius: .4rem;
}
.schedule-text p{
    font-size:1.4rem;
    color: var(--textcolor);
}
.schedule-date-border{
    border: .2rem dashed #ED3A4C;
    background-color: white;
    color: var(--tersery);
}
.section-btn{
    background:rgba(249, 35, 77);
    color:white;
    border-radius: 3px;
    padding: 10px 15px;
    border: none;
}

/* event section */
.event{
    background-color: var(--primary);
}
.event-parent{
    text-align: center;
}
.event-parent h2{
    font-size:2rem;
    font-weight: 800;
    text-align: center;

}
.event-parent{
    font-size: 1.7rem;
    font-weight: 600;
    padding:2rem 0;
    
}
.event-color{
    background-color: var(--tersery);
    border-radius: .7rem;
    color: white;
}
/* banner section */
.banner img{
border-radius: .7rem;
}
/* news section */
.news{
    background-color: var(--primary)
}
.news h3{
    font-size: 1.2rem;
    font-weight: 700;
    color: #091A35;
    margin: 1rem 0;
}
.news-text{
    font-size: 1rem;
    color:var(--textcolor);
}
.news-a-tag{
    font-size:1.2rem;
    text-decoration: underline;
    color: black;
    margin: 1rem 0;
}
.news-a-tag-color{
    color: var(--tersery);
}
/* footer */
.foter-heading{
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.footer{
    background-color:#24357B;
    color: white;
    
}
.footer-nav a{
    font-size:1.1rem;
    color:rgb(180, 180, 180);
}
.fab{
    font-size: 1.5rem;
    color:rgb(180, 180, 180) ;
    padding-right: 2rem;
}
.icon{
    display:flex;
}
.copyright{
    background-color: #11216A;
    text-align: center;
    padding: 1.5rem 0;
}
.small{
    font-size: 1.3rem;
    color: var(--textcolor);
}
/* resposive web design */
@media screen and (max-width:768px){

    html{
        font-size: 10px;
    }
    .container{
        width: 80%;
        margin: 0 auto;
        padding: 0 3rem;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .flex-35, .flex-50, .flex-31,
    .flex-20, .flex-25, 
    .flex-15, .flex-60, .flex-31,.flex-75,.flex-70{
        flex:1 1 100%;
    }

    .span{
        position: unset;
    }
    .full-width{
        width: 100%;
    }
    .nav-column{
        flex-direction: column;
    }
    /* nnavigation mobile */
    .nav{
        display: none;
    }
    .nav li{
        margin: 2.5rem 0;
    }
    #toggle:checked ~ .nav{
        display: inline-block;
    }
    .header{
        background-image: url(../banner.png);
        background-size: cover;   
    }
    .responsive-margin{
        margin: 6rem 0;
    }
    .brand{
        position: fixed;
        top: 4rem;
        left: 3rem;
        z-index: 99;
    }
    .bars{
        font-size:2rem;
        color: #ffffff;
        position: fixed;
        right:3rem;
        top: 4rem;
        z-index:99;
    }
    
    .flex{
        align-items: center;
    }

    .nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(33, 57, 106, 0.8);
        padding-top: 6rem;
    }

    .footer-margin{
        margin: 2rem 0;
    }
    
    /* .line-div{
        margin-top: 2rem;
    } */
    
    
}